<div class="selection-container">
  <header class="selection-header">
    <h1 class="selection-title">Selecione o personagem</h1>
  </header>

  <div class="cards-container">
    <!-- Card Kosj -->
    <a routerLink="/kosj" class="character-card kosj-card">
      <div class="card-image-wrapper">
        <img src="assets/kosj/kosj_avatar_redondo.png" alt="Kosj" class="character-avatar">
      </div>
      <div class="card-info">
        <h2 class="character-name">Kosj</h2>
        <span class="character-details">Homem Lagarto • Monge</span>
      </div>
    </a>

    <!-- Card Kairo -->
    <a routerLink="/kairo" class="character-card kairo-card">
      <div class="card-image-wrapper">
        <img src="avatar.png" alt="Kairo" class="character-avatar">
      </div>
      <div class="card-info">
        <h2 class="character-name">Kairo</h2>
        <span class="character-details">Eladrin Feérico • Bruxo</span>
      </div>
    </a>
  </div>
</div>
